body {
	font-family: sans-serif;
	font-weight: 100;

	margin-left: 3rem;
	margin-right: 3rem;
}

h1 {
	text-align: center;
	font-size: 5em;
	font-weight: 100;
}

.banner-subscribe {
    position: absolute;
    top: 2em;
    right: 2em;
}

#link-subscribe, #link-unsubscribe {
    display: none;
}

#button-prev, #button-next {
	position: fixed;
	left: 1em;
	width: 1em;
	cursor: pointer;
	opacity: .15;

	/* Increase the clickability since the image is small */
	padding: 1em;
	margin: -1em;
}

#button-prev {
	top: calc(50% - 3em);
}

#button-next {
	top: calc(50% + 3em);
}

article.post {
	line-height: 1.5em;
}

p.post-date {
  font-size: .8em;
}

div.image-frame {
	position: relative;
}

.image-frame img {
	max-width: 100%;
	height: auto;

	transition-property: opacity;
	transition-duration: 1s;
}

img.image-loading {
	opacity: 0;
}

img.image-loaded {
	opacity: 1;
}

.image-frame a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.image-frame svg {
	max-width: 100%;
	height: auto;
}

.post h2 {
	margin-bottom: .2em;
	font-weight: 100;
}

p.post-date {
	margin-top: .2em;
}

#map-toggle {
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 3.5em;
	height: 3.5em;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2em;
	box-shadow: .2em .2em .4em rgba(0, 0, 0, 0.3);
}

#map-toggle img {
	width: 1.6em;
	height: 1.6em;
}

#map {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 18em;
	box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.3);
	transform: translateY(0);
	transition-property: transform;
	transition-duration: .5s;
}

#map.map-hidden {
	transform: translateY(-19em);
}

.map-marker {
	width: 2em;
	height: 2em;
	line-height: 2em;
	border-radius: 50%;
	background-color: #333333;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

#footer {
  margin-top: 3em;
  padding-top: .5em;
  border-top: 1px solid #333333;
}
