<!doctype html>
<html>
	<head>
		<title>{{.Site.Title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ if .RSSLink }}
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/fullsize.css" media="(min-device-width: 500px)" />
        <style type="text/css">
/* Those parts of the style are here since they use configuration variables */

body {
	background-color: {{ default "#FAFAFA" .Site.Params.backgroundColor }};
    color: {{ default "#333333" .Site.Params.foregroundColor }};
}

a, a:visited, a:active, a:link {
    color: {{ default "#901F0F" .Site.Params.linkColor }};
}
        </style>
		<link href='css/mapbox-gl-0.52.0.css' rel='stylesheet' />
		<link rel="stylesheet" href="css/baguetteBox.min.css" />
		<script defer src='js/mapbox-gl-0.52.0.js'></script>
		<script defer src='js/echo.min.js'></script>
		<script defer src='js/baguetteBox.min.js'></script>
		<script defer src='js/map.js'></script>
	</head>
	<body>
	<h1 id="page-title">{{.Site.Title}}</h1>

    <div class="banner-subscribe">
        <a href="#" onclick="onSubscribe()" id="link-subscribe">Subscribe to updates!</a>
        <a href="#" onclick="onUnsubscribe()" id="link-unsubscribe">Unsubscribe from updates</a>
    </div>

	{{ $total := len .Data.Pages }}
	{{ range $index, $element := .Data.Pages }}
		{{ $post_number := sub $total $index }}
		{{ $element.Scratch.Set "idx" $post_number }}
		{{ $element.Render "single" }}
	{{ end }}

	<img id="button-prev" role="button" src="icons/up.svg" alt="Previous post" />

	<img id="button-next" role="button" src="icons/down.svg" alt="Next post" />

	<div id="map" class="map-hidden"></div>

	<div id="map-toggle">
		<img src="icons/map.svg">
	</div>

	{{ if .Site.Params.Author }}
	<div id="footer">
		&copy;
		{{ if .Site.Params.Email }}
		<a href="mailto:{{.Site.Params.Email}}">
		{{ end }}
		 {{ .Site.Params.Author }}
		{{ if .Site.Params.Email }}
		</a>
		{{ end }}
	</div>
	{{ end }}
	</body>
</html>
