<!doctype html>
<html>
	<head>
		<title>{{.Site.Title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		{{ if .RSSLink }}
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}
		<link rel="stylesheet" href="css/style.css"/>
        <style type="text/css">
/* Those parts of the style are here since they use configuration variables */

body {
	background-color: {{ default "#FAFAFA" .Site.Params.backgroundColor }};
    color: {{ default "#333333" .Site.Params.foregroundColor }};
}

a, a:visited, a:active, a:link {
    color: {{ default "#901F0F" .Site.Params.linkColor }};
}
        </style>
		<link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
		<link rel="stylesheet" href="css/baguetteBox.min.css" />
		<script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
		<script src='js/echo.min.js'></script>
		<script src='js/baguetteBox.min.js'></script>
		<script src='js/map.js'></script>
	</head>
	<body>
	<h1 id="page-title">{{.Site.Title}}</h1>

	{{ $total := len .Data.Pages }}
	{{ range $index, $element := .Data.Pages }}
		{{ $post_number := sub $total $index }}
		{{ $element.Scratch.Set "idx" $post_number }}
		{{ $element.Render "single" }}
	{{ end }}

	<div id="map"></div>
	</body>
</html>
